    <div id="about" class="w-full flex flex-col justify-center items-center py-12">
      <div class="self-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-primary text-4xl mb-4">See examples of my work</h2>
        <div class="text-base-content text-xl font-medium prose">
          <div class="flex justify-around gap-2">
            
            <label for="sample-pic-1" class="modal-button">
            <a href="img/Fitnesso_full.webp" target="_blank"> 
                <img class="object-contain" src="img/Fitnesso_sample.webp">
            </a>
            </label> 

            <label for="sample-pic-2" class="modal-button">
            <a href="img/redhat_full.webp" target="_blank"> 
                <img class="object-contain" src="img/redhat_sample.webp">
            </a>
            </label> 
            <input type="checkbox" id="sample-pic-2" class="modal-toggle"> 
           


          </div>
        </div>
      </div>
    </div>