{% for item in collections.sections %}
  {% if item.data.type === 'reviews' %}
    <div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <div class="font-light text-black text-xl prose">
          {{ item.templateContent | safe }}
        </div>
      </div>
      <div class="avatar">
        <div class="mb-8 rounded-btn w-24 h-24 mask mask-hexagon">
            <img src="https://cdn.lorem.space/images/face/.cache/150x150/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
        </div>
        <div class="flex flex-col justify-center font-semibold">
            <p>Maria Potempo</p>
            <p>Retired, side business owner</p>
            <div class="w-3/4">
              <img src="img/SFV-Candles-Phone.png">
            </div>
        </div>
      </div>
      <div class="w-1/2">
        <h2 class="text-4xl font-semibold mb-7">Start growing today</h2>
        <p class='text-2xl font-medium mb-3'> For either new or existing sites, my skills will give you: </p>
        <ul class="mt-2 mb-8 list-disc text-xl">
            <li>websites that work, designs that perform</li>
            <li>optimized speed, conversions, and analytics</li>
            <li>increased social media presence</li>
        </ul>
        <a href='#register'>
          <button class='btn btn-lg btn-primary'>Contact </button>
        </a>
        <br>
        <small class='text-xs'>Join my growing list of clients</small>
      </div>
    </div>
  {% endif %}
{% endfor %}