{% for item in collections.sections %}
  {% if item.data.type === 'reviews' %}
    <div id="about" class="w-full min-h-screen flex flex-col justify-center items-center py-12">
      <div class="self-center text-center w-full sm:w-2/3 xl:w-1/2 px-4 sm:px:0">
        <div class="font-light text-base-content bg-base-100 text-xl prose">
          {{ item.templateContent | safe }}
        </div>
      </div>
      <div class="avatar">
        <div class="mb-8 rounded-btn w-24 h-24 mask mask-hexagon">
            <img src="https://cdn.lorem.space/images/face/.cache/150x150/michael-dam-mEZ3PoFGs_k-unsplash.jpg">
        </div>
        <div class="flex flex-col justify-center font-semibold">
            <p>Maria Potempo</p>
            <p>Retired, side business owner</p>
            <div class="w-3/4">
              <img src="img/SFV-Candles-Phone.png">
            </div>
        </div>
      </div>
      <div class="w-1/2 justify-itemss-center">
        <h2 class="text-4xl text-primary font-semibold mb-7">Start growing today</h2>
        <p class='text-2xl text-secondary font-medium mb-3'> For either new or existing sites, my skills will give you: </p>
        
        <ul class="flex flex-row mt-8 mb-12 list-none text-xl">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-current text-primary" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
              </svg>
              websites that work, designs that perform</li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-current text-primary" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
              </svg>
              optimized speed, conversions, and analytics</li>
            <li>
             <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-current text-primary" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
            </svg>
              increased social media presence
            </li>
        </ul>
        <a href='#register'>
          <button class='btn btn-lg btn-primary rounded-full btn-wide'>Contact </button>
        </a>
        <br>
        <small class='text-xs'>Join my growing list of clients</small>
      </div>
    </div>
  {% endif %}
{% endfor %}